#background{
    background-image: url('../assets//background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#anim-bg-gradient {
    padding: 0.6em 1.2em;
    border-radius: 0.375em;
    cursor: pointer;
    color: white;
    background: linear-gradient(120deg, #ff5500, #ff8000, darkmagenta, rgb(176, 0, 176));
    background-size: 300%;
    
    /* background-position: 100% 0; */
    transition: background-position .5s;
  }
  
  #anim-bg-gradient:hover {
    background-position: 0 0;
  }


